@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');


body {
  margin: 0;
  background-color: #50A23E;
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

.title-page{
  font-family: 'Creepster', cursive;
  color: #16ACC9;
  font-size: 85px;
}

.text-border {
  -webkit-text-stroke: 3px #F2E205;
}

.nav-gradient{
  background-color: #0D4637;
  background-image:
    linear-gradient(
      #0D4637, #50A23E
    );
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}