/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');
/* _____________________________________________________________________________________ */

/* STYLES OF THE MAIN PAGE */
.App{
  /* background-color: rgb(0, 0, 0); */
  /* background-image: url("../public/img/Space.png"); */
  margin: 0%;
  padding: 0%;
}
/* _____________________________________________________________________________________ */

/* NAVBAR STYLES */
.title-page{
  font-family: 'Creepster', cursive;
  color: #16ACC9;
  font-size: 85px;
}

.text-border {
  -webkit-text-stroke: 3px #F2E205;
}
/* _____________________________________________________________________________________ */


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}